*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.mainView{
  position: relative;
  z-index: 1;
  top: 0;
  left: 244px;
  width: calc(100% - 244px);
  min-height: 1000px;
  padding-top: 22px;
}

.feed_container{
  width: 100%;
  display: flex;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
}

/* Media Query's */
@media only screen and (max-width: 1260px) {
  .mainView{
    left: 72px;
    width: calc(100% - 72px);
  }
}

@media only screen and (max-width: 767px) {
  .mainView{
    top: 60px;
    left: 0;
    width: 100%;
  }
}